
.full-height{
    height: calc(100vh - 125px + 225px)
  }
video{
    width: auto;
    height: auto;
    margin-bottom: -1em;
    min-height: 100%;
    min-width: 100%;
  }
  footer.footer{
		.copyright{
			p{
				font-size: .5em;
			}
		}
      .facebook, .instagram{
        flex:1;
      }
    .margin-bt{
      margin-top: 0;
      margin-bottom: 0;
    }
    flex-direction: row;
    flex-wrap: wrap;
    .flex-container{
        flex-wrap: inherit;
    }
    .footer-mobile{
        display: inherit;
        width: inherit;
        flex: 1;
        text-align: inherit;
      }
	.footer-item{
        &.text{
            margin-top: 1em;
        }
		h3{
			font-size: 1.25em;
			margin-bottom: .3em;
		}
		p{
			font-size: .6em;
		}
	}
	height: 215px;
	padding-left: 2em;
	padding-right: 2em;
      .logo{
          display: block;
          margin-right: 3em;
        img{
          max-width: 200px;
        }
      }
      .social{
          margin-left: 2em;
          &:before{
            content:"";
            background-image: url(../images/line.png);
            width: 1px;
            padding-top:37%;
            display: block;
            background-repeat: no-repeat;
            margin-right: 1em ;
          }
      }
      .footer-item{
        flex: 1;
      }
  }
  .section-1{
    margin-bottom: -150px;
    .custom-container{
      top:-225px;
    }
    .text{
		padding: 1em 2em;
		.separator{
			margin: 1.5em auto;
		}
		  h2{
			  font-size: 2.3em;
			  margin-bottom: .3em;
		  }
		  p{
			  font-size: 1.1em;
		  }
	  }
	  .overlay{
		  .rollover{
			  h3{
				font-size: 1.55em;
			  }
			  p{
				font-size: 1.2em;
				line-height: 1;
				width: 80%;
			  }
		  }
	  }
  }
  .section-2{
		.cond{
			text-align: left;
		}
	padding: 3em 0 2em;
	  .price{
		  .round-price{
			width: 160px;
			height: 160px;
            margin-bottom: 0;
		  }
		  p{
			  font-size: 1.5em;
		  }
		  span{
			  font-size:.9em;
		  }
		  h2{
			  font-size:3em;
		  }
	  }
	  .button-ticket{
		button{
			padding-left: .7em;
			padding-right: .7em;
			line-height: 2;
			font-size: 1.8em;
			margin-top: .7em;
			// margin-bottom: 2.5em;
		}
	}
  }
  .section-3{
    padding: 4em 0;
	  h2{
        font-size:3em;
	  }
  }
  .section-4{
	p{
		font-size: 1.2em;
    margin-bottom:0;
    &.address{
			margin-top: .7em;
			margin-bottom: 1em;
      font-size: 1em;
    }
		line-height: 1.2;
	}
	h2{
	  font-size:2.7em;
	  margin-bottom: .2em;
	}
	button{
		font-size: 1.7em;
	}
  }
  .section-5{
	.pt{
		padding-top: 2em;
		padding-bottom: 2em;
	}
	p{
		font-size: 1.2em;
		margin-bottom: .5em;
		&.cond{
			font-size: .7em
		}
	}
	h2{
		font-size:2.2em;
		margin-bottom: .3em;
	}
	button{
		font-size: 2em;
	}
  }
  .modal{
  }
  .promo{
      h2{
        font-size: 2em;
      }
      button.sub{
        font-size:1em;
      }
  }
  .mobile{
      display: none;
  }
  .desktop{
      display: block;
	}
	
	nav#navbar {
	&.fixated {
    height: 90px;
		margin-top: -10.1em;
	}
}